*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

.container{
   width: 100%;
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/telecom.jpg')no-repeat;
  background-size: cover;
  background-position: center;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* background-color: green; */
}

.number{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
    /* width: 40%; */
}

.number label{
    margin-bottom: 1rem;
}

.logo{
    border: 2px solid green;
    border-radius: 1rem;
    width: 7rem;
    height: 5rem;
    margin: 1rem 0;
}

.field {
    padding: 0.3rem;
    border-radius: 5px;
    font-size: 1rem;
    border: 3px solid #88d5e9;
    outline: none;
}
